* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

@media(max-width: 711px){
    #card {
        width: 90%;
    }
}